.inputBox{
	margin-top:64px;
	display:flex;
	flex-direction: column;
	border: linear-gradient(#4D62E5,#87DDEE,B6F09C);
}
.inputBox input{
	padding-left: 40px;	
	position:relative;
	width:490px;
	height:45px;
}
.inputBox img{
	margin:10px 0 0 10px;
	position:absolute;
	width:24px;
	heigh:24px;
}
.inputBox  + .inputBox {
	margin-top:24px;
}
.logo{
	width:32px;
	height:32px;
	margin:45px 0 0 45px;
}
.loginBtn{
	height:45px;
	margin:0 0 48px 0;
	border:none;
	border-radius:12px;
	background-color:#B6F09C;
}
.wrapper{
	margin: 94px 0px 150px 110px;
	width:490px;
	display:flex;
	flex-direction:column;
}
.header h2 + p{
	margin-top: 24px;
}
.signUp {
	display:flex;
	flex-direction:row;
	margin: 10px;
}
.checkBox{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin:48px 0 48px 0;
}
.cnt{
	margin:0 0 48px 0;
}
.cnt hr{
}
.cnt p{
	width:140px;
	height:20px;
	font-style:12px;
	background-color:#131619;
	padding:0 12px;
	margin: -12.5px auto 0 auto;
}
.reg{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
button:hover{
	cursor:pointer;
	background: rgb(130,219,247);
background: radial-gradient(circle, rgba(130,219,247,1) 0%, rgba(182,240,156,1) 100%);
}
.reg button{
	border-radius:12px;
	background-color:#1A1D21;
	border:none;
	position:relative;
	height: 45px;
	width: 230px;
	z-index:2;
	color:#686B6E;
}
.reg img{
	margin:13px 0 0 20px;
	z-index:3;
	width:20px;
	height:20px;
	position:absolute;
}
.container{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	height:100vh;
}
.ImgContainer{
	background-image:url(../../../assets/img/illustration.svg);
	background-position:right;
	border-radius:24px;
	width:40%;
	background-size:cover;
	background-origin: content-box;
	background-repeat:no-repeat;
}