/// Login Page -------------------->

@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
@import '../../assets/styles/_colors';
@import '../../assets/styles/_fonts';
@import '../../assets/styles/_null';

@mixin color($name, $value) {
	color: map.get($name, $value);
}
@mixin background-color($name, $value) {
	background-color: map.get($name, $value);
}
@mixin font($name, $size, $line-height, $letter-spacing) {
	font-size: map.get($name, $size);
	line-height: map.get($name, $line-height);
	letter-spacing: map.get($name, $letter-spacing);
}
@mixin gradient($name, $value) {
	background-color: map.get($name, $value);
}

.container {
	display: flex;
	flex-direction: row;
}
.wrapper {
	margin: 0px auto;
	max-width: 496px;
	display: flex;
	flex-direction: column;
}
.ImgContainer {
	background-image: url(../../assets/img/abstract-01.png);
	background-position: right;
	border-radius: 24px;
	background-size: cover;
	background-origin: content-box;
	background-repeat: no-repeat;
	flex: 1 1 50%;
}
.formContainer {
	flex: 1 1 50%;
	@media(max-width:992px) {
		width: 40%;
	}
	@media (min-width: 700px) and (max-width: 992px) {
		.reg {
			flex-direction: column;
			align-items: center;
			.reg-item:not(:last-child) {
				flex: 1 1 100%;
				margin-bottom: 10px;
			}
		}
	}
}
/// LOGO
.logoContainer {
	display: flex;
}
.logo {
	width: 32px;
	height: 32px;
	margin: 45px 0 12.4% 45px;
	@media(max-width: 1000px) {
		margin: 45px 0 12.4% 0;
	}
}
/// 
input {
	@include background-color($noble-black, '600');
	border-radius: 7px;
	border: 1px solid #363a3d;
	padding: 0 16px;
	gap: 16;
	@include color($noble-black, '300');
}
.inputBox {
	margin-top: 64px;
	display: flex;
	flex-direction: column;
}
.inputBox input {
	padding-left: 40px;
	position: relative;
	width: 100%;
	height: 45px;
	border-radius: 8px;
}
.inputBox input:hover, .inputBox input:active {
	background:  linear-gradient(45deg, #82DBF7 0%, #B6F09C 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	border: 1px solid #82DBF7;
}
.inputBox img {
	margin: 10px 0 0 10px;
	position: absolute;
	width: 24px;
	height: 24px;
}
.inputBox + .inputBox {
	margin-top: 24px;
}

.loginBtn {
	height: 45px;
	margin: 0 0 48px 0;
	border: none;
	border-radius: 12px;
	background-color: #b6f09c;
	@include font($BodyL, 'size', 'line-height', 'letter-spacing');
	font-weight: 600;
	width: 100%;
}
.header h2 + p {
	margin-top: 24px;
}
.header p {
	@include color($noble-black, '300');
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0.15px;
}
.headerTitle {
	@include font($headingXL, 'size', 'line-height', 'letter-spacing');
	font-weight: 400;
	span {
		background: linear-gradient(45deg, #4d62e5 0%, #87ddee 45.31%, #b6f09c 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-weight: 700;
	}
}
.signUp {
	display: flex;
	flex-direction: row;
	margin: 14% 0 48px 48px;
	@include font($BodyL, 'size', 'line-height', 'letter-spacing');
	font-weight: 600;
	@include color($noble-black,"400")
}
.signUp span{
	margin-left:10px;
	background: linear-gradient(45deg, #82DBF7 0%, #B6F09C 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.forgotten-psw{
	background:linear-gradient(45deg, #82DBF7 0%, #B6F09C 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	@include font($BodyL, 'size', 'line-height', 'letter-spacing');
	padding-right: 5px;
}
.checkBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0 30px 0;
}
.check-box{
	position:absolute;
	z-index: -1;
	opacity: 0;
}
.checkBoxField {
	@include font($BodyL, 'size', 'line-height', 'letter-spacing');
	font-weight: 500;
}
.chek-box+label {
	display: inline-flex;
	align-items: center;
	user-select: none;

  }
.checkBoxField label::before {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #363A3D;
	border-radius: 4px;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}
.check-box:checked+label::before {
	@include background-color($noble-black, "600");
	border: 1px solid #363A3D;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05), 0px 1px 2px -1px rgba(0, 0, 0, 0.05);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
	}

.cnt {
	margin: 0 0 48px 0;
	@include color($noble-black, "400");
	@include font($BodyS, 'size', 'line-height', 'letter-spacing');
	font-weight: 500;
	display: flex;
	align-items: top;
	width: 100%;
}
.cnt p {
	display: flex;
	align-items: end;
	white-space: nowrap;
}
.cnt span {
	display: inline-block;
	height: 1px;
	width: 100%;
	@include background-color($noble-black, "400");
}
.cnt hr {
	@include color($noble-black, "400");
}
.cnt p {
	width: 140px;
	height: 20px;
	font-style: 12px;
	@include background-color($noble-black, '700');
	padding: 0 12px;
	margin: -12.5px auto 0 auto;
}
.reg {
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
}
button:hover {
	cursor: pointer;
	background: rgb(130, 219, 247);
	background: radial-gradient(
		circle,
		rgba(130, 219, 247, 1) 0%,
		rgba(182, 240, 156, 1) 100%
	);
}
.reg button {
	border-radius: 12px;
	@include background-color($noble-black, '600');
	@include font($BodyL, 'size', 'line-height', 'letter-spacing');
	font-weight: 600;
	border: none;
	position: relative;
	height: 45px;
	width: 230px;
	z-index: 2;
	color: #686b6e;
}
.reg img {
	margin: 13px 0 0 20px;
	z-index: 3;
	width: 20px;
	height: 20px;
	position: absolute;
}
/////////////////////////////////////////////MEDIA//////////////////////////////////////////////////////
@media(max-width:1000px) {
	.wrapper, .logoContainer {
		padding: 0 20px;
	}
}
@media(max-width:700px) {
	.ImgContainer {
		display: none;
	}
	.formContainer {
		width: 100%;
	}
}
@media (min-width: 320px) and (max-width: 479px) {
	.headerTitle {
		@include font($headingL, 'size', 'line-height', 'letter-spacing');
	}
	.reg {
		flex-direction: column;
		align-items: center;
		.reg-item:not(:last-child) {
			flex: 1 1 100%;
			margin-bottom: 10px;
		}
	}
	.checkBoxField label::before {
		width:1.5em;
		height:1.5em;
	}
	.checkBoxField, .forgotten-psw {
		@include font($BodyS, 'size', 'line-height', 'letter-spacing');
	}
	.signUp {
		justify-content: center;
		margin-left: 0;
		margin-bottom: 20px;
	}

}
///-----------------------------------------------styles for sign up
.signUp-reg {
	margin-top: 64px;
}
.google-item {
	padding-left: 12px;
}
.signUp-cnt {
	margin: 48px 0px;
}
.signUp-inputBox {
	margin-top: 0;
}
.signUp-centered {
	margin: 0 0 20px 0;
	justify-content: center;
}
.loginBtn-signUp {
	margin-top: 48px;
}
.ImgContainer-signup {
	background-image: url(../../assets/img/signup.png);
	 display: flex;
	 flex-direction: column;
	 justify-content: end;
	 @media(max-width: 767px) {
		background-position: center;
	 }
	 @media(max-width: 700px) {
		display: none;
	 }
	.image-content {
		padding-bottom: 56px;
		max-width: 608px;
		margin: 0 auto;
		.image-phrase {
			@include font($headingL, 'size', 'line-height', 'letter-spacing');
			color: #fff;
			font-weight: 600;
			margin-bottom: 56px;
			@media(max-width: 1100px) {
				margin-bottom: 36px;
				@include font($headingS, 'size', 'line-height', 'letter-spacing');
			}
		}
		.image-author {
			display: flex;
			flex-direction: column;
		}
		.author {
			@include font($headingXS, 'size', 'line-height', 'letter-spacing');
		}
		.place {
			@include font($BodyM, 'size', 'line-height', 'letter-spacing');
			@include color($stem-green, "500");
		}
	}
}
