$headingXL: (
    "size": 36px,
    "line-height": 122.222%,
    "letter-spacing": 0,
);
$headingL: (
    "size": 32px,
    "line-height": 125%,
    "letter-spacing": 0,
);
$headingM: (
    "size": 28px,
    "line-height": 128.571%,
    "letter-spacing": 0,
);
$headingS: (
    "size": 24px,
    "line-height": 133.333%,
    "letter-spacing": 0,
);
$headingXS: (
    "size": 20px,
    "line-height": 160%,
    "letter-spacing": 0,
);
/////////////////////////////////////////////////////////////////////////////////
$BodyXL: (
    "size": 18px,
    "line-height": 155.556%,
    "letter-spacing": 0.15px,
);
$BodyL: (
    "size": 16px,
    "line-height": 150%,
    "letter-spacing": 0.15px,
);
$BodyM: (
    "size": 14px,
    "line-height": 142.857%,
    "letter-spacing": 0.15px,
);
$BodyS: (
    "size": 12px,
    "line-height": 150%,
    "letter-spacing": 0.15px,
);